.code-bg {
    background-image: url(https://i.imgur.com/nhX3VEW.jpeg);
    background-position: center;
    color: white;
}

.navbar-items {
    width: 100%;
}

.dropstart .dropdown-toggle::before {
    display: none !important;
}

.btn-navbar {
    background-color: rgb(60 58 58 / 49%)!important; 
    color: white!important;
    font-size: 1.5rem!important;
    border-radius: 0!important;
    font-weight: bold !important;
    cursor: pointer;
}

.btn-navbar:hover {
    color: white!important;
}

.svg-navbar{
    background-color: rgb(60 58 58 / 49%)!important; 
    color: white!important;
    font-size: 1.5rem!important;
    border-radius: 0!important;
    font-weight: bold !important;
}



.btn-xl {
    padding: .8rem 1rem!important;
    font-size: 2rem!important;
}

.sidebar-item {
    padding: 15px;
    font-size: 1.1rem;
}

#collasible-nav-dropdown{
    background-color: rgb(60 58 58 / 49%)!important; 
    color: white!important;
    border-radius: 0!important;
    font-weight: bold !important;
    font-size: 30px;
    padding: 7px;
}

#collasible-nav-dropdown:hover,#collasible-nav-dropdown:focus{
    background-color: var(--button-highlight-bg-color)!important;
    color: black!important;
    border-radius: 0!important;
    font-weight: bold !important;
    font-size: 30px;
    padding: 7px;
}

.item-padding {
    padding: 15px;
  }

.center {
    text-align: center;
}

.justify{
    text-align: justify;
  text-justify: inter-word;
}

.vertical{
    display: inline-block;
    vertical-align: middle;
}

a.nodec { 
    color: black;
    text-decoration: none;
 }

.pad30{
    padding: 30px;
}

